<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="rabbitAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
		<constructor-arg ref="connectionFactory" />
	</bean>

	<bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="messageConverter" ref="messageConverter" />
		<property name="exchange" value="${mq.producer.exchange}" />
		<property name="routingKey" value="${mq.producer.routing.key}" />
	</bean>
	
	<bean id="rabbitTemplateProxy" class="org.hisoka.core.mq.producer.RabbitTemplateProxy">
		<property name="rabbitTemplate" ref="rabbitTemplate" />
		<property name="isDefault" value="${mq.producer.isDefault}" />
	</bean>
	
	<bean id="mqMessageSender" class="org.hisoka.core.mq.apply.DynamicMqMessageSender">
		<property name="openLog" value="${logback.mq.openLog}" />
	</bean>
	
	<bean id="dynamicCreateMqProducerManager" class="org.hisoka.core.mq.apply.DynamicCreateMqProducerManager">
		<property name="dynamicMqMessageSender" ref="mqMessageSender" />
	</bean>
</beans>