<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 消息转换器 -->
	<bean id="messageConverter" class="org.springframework.amqp.support.converter.SimpleMessageConverter" />

	<!-- 连接工厂 -->
	<bean id="connectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg index="0" value="${mq.server.host}" />
		<constructor-arg index="1" value="${mq.server.port}" />
		<property name="virtualHost" value="${mq.server.virtualhost}" />
		<property name="username" value="${mq.username}" />
		<property name="password" value="${mq.password}" />
	</bean>

	<import resource="spring-mq-producer.xml" />
	<import resource="spring-mq-consumer.xml" />

</beans>